@layer doublee-tokens {
  :root {
    --font-family-body: 'Berkeley Old Style', 'Californian FB', Georgia, serif;
    --font-family-headings: 'Copernicus New Cond', sans-serif;
    --font-family-accent: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-family-labels: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-family-code: 'Fira Code', Consolas, system-ui-monospace, monospace;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-base: 1.6;
    --line-height-headings: 1.2;
    --letter-spacing-body: -0.01em;
    --letter-spacing-tight: -0.02em;
    --typescale: 1.2;
    --spacing-step-size: 3;
  }
  @media (min-width: 768px) {
    :root {
      --typescale: 1.25;
    }
  }
  :root {
    --font-size-base: 1rem;
  }
  @media (min-width: 1024px) {
    :root {
      --font-size-base: calc(17 / 16 * 100%);
    }
  }
  :root {
    --font-size-sm: 0.9rem;
    --font-size-body: 1rem;
    --font-size-md: calc(1rem * pow(var(--typescale), 1));
    --font-size-lg: calc(1rem * pow(var(--typescale), 2));
    --font-size-xl: calc(1rem * pow(var(--typescale), 3));
    --font-size-xxl: calc(1rem * pow(var(--typescale), 4));
    --font-size-display: calc(1rem * pow(var(--typescale), 6));
    --font-sm: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --font-body: var(--font-weight-normal) var(--font-size-body) var(--font-family-body);
    --font-md: var(--font-weight-medium) var(--font-size-md)/var(--line-height-headings) var(--font-family-accent);
    --font-lg: var(--font-weight-semibold) var(--font-size-lg)/var(--line-height-headings) var(--font-family-headings);
    --font-xl: var(--font-weight-semibold) var(--font-size-xl)/var(--line-height-headings) var(--font-family-headings);
    --font-xxl: var(--font-weight-semibold) var(--font-size-xxl)/var(--line-height-headings) var(--font-family-headings);
    --font-display: var(--font-weight-semibold) var(--font-size-display)/var(--line-height-headings) var(--font-family-headings);
    --font-labels: var(--font-weight-medium) var(--font-size-sm) var(--font-family-labels);
    --font-captions: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --spacing-xs: calc(1rem / pow(var(--typescale), 2 * var(--spacing-step-size)));
    --spacing-sm: calc(1rem / pow(var(--typescale), 1 * var(--spacing-step-size)));
    --spacing-md: 1rem;
    --spacing-lg: calc(1rem * pow(var(--typescale), 1 * var(--spacing-step-size)));
    --spacing-xl: calc(1rem * pow(var(--typescale), 2 * var(--spacing-step-size)));
    --spacing-xxl: calc(1rem * pow(var(--typescale), 3 * var(--spacing-step-size)));
    --border-radius-sm: var(--spacing-xs);
    --border-radius-md: var(--spacing-sm);
    --border-radius-round: 100px;
    --color-primary: #502595;
    --color-secondary: #845ec2;
    --color-accent: #b01b87;
    --color-info: #24a8e1;
    --color-warning: #ffc75f;
    --color-success: #0abfa0;
    --color-error: #ff775f;
    --color-light: ghostwhite;
    --color-dark: color-mix(in srgb, var(--color-primary) 40%, black);
    --color-white: #ffffff;
    --color-body-text: #181825;
    --color-body-text-muted: oklch(from color-mix(in srgb, var(--color-body-text) 85%, gray 15%) calc(l + 0.35) calc(c * 0.8) calc(h));
    --gradient-primary-secondary: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-secondary) 50%);
    --gradient-primary-accent: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-accent) 50%);
    --gradient-primary-light: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-light) 50%);
    --gradient-primary-dark: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-dark) 50%);
    --gradient-primary-white: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-white) 50%);
    --gradient-secondary-primary: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-primary) 50%);
    --gradient-secondary-accent: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-accent) 50%);
    --gradient-secondary-light: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-light) 50%);
    --gradient-secondary-dark: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-dark) 50%);
    --gradient-secondary-white: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-white) 50%);
    --gradient-accent-primary: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-primary) 50%);
    --gradient-accent-secondary: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-secondary) 50%);
    --gradient-accent-light: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-light) 50%);
    --gradient-accent-dark: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-dark) 50%);
    --gradient-accent-white: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-white) 50%);
    --gradient-light-primary: linear-gradient(to bottom, var(--color-light) 50%, var(--color-primary) 50%);
    --gradient-light-secondary: linear-gradient(to bottom, var(--color-light) 50%, var(--color-secondary) 50%);
    --gradient-light-accent: linear-gradient(to bottom, var(--color-light) 50%, var(--color-accent) 50%);
    --gradient-light-dark: linear-gradient(to bottom, var(--color-light) 50%, var(--color-dark) 50%);
    --gradient-light-white: linear-gradient(to bottom, var(--color-light) 50%, var(--color-white) 50%);
    --gradient-dark-primary: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-primary) 50%);
    --gradient-dark-secondary: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-secondary) 50%);
    --gradient-dark-accent: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-accent) 50%);
    --gradient-dark-light: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-light) 50%);
    --gradient-dark-white: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-white) 50%);
    --gradient-white-primary: linear-gradient(to bottom, var(--color-white) 50%, var(--color-primary) 50%);
    --gradient-white-secondary: linear-gradient(to bottom, var(--color-white) 50%, var(--color-secondary) 50%);
    --gradient-white-accent: linear-gradient(to bottom, var(--color-white) 50%, var(--color-accent) 50%);
    --gradient-white-light: linear-gradient(to bottom, var(--color-white) 50%, var(--color-light) 50%);
    --gradient-white-dark: linear-gradient(to bottom, var(--color-white) 50%, var(--color-dark) 50%);
  }
  [data-typography-mode=docs] {
    --font-family-headings: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-family-body: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-body: var(--font-weight-normal) var(--font-size-body) var(--font-family-body);
    --font-md: var(--font-weight-medium) var(--font-size-body) var(--font-family-accent);
    --font-lg: var(--font-weight-semibold) var(--font-size-md) var(--font-family-headings);
    --font-xl: var(--font-weight-semibold) var(--font-size-lg) var(--font-family-headings);
    --font-xxl: var(--font-weight-semibold) var(--font-size-xl) var(--font-family-headings);
  }
}
@layer theming-base {
  /*-------------------------------------------------------------------
    Colour theming defaults
    Note: Application of text colours for the data-color-theme attribute is not handled here
    - it is expected to be applied to particular common elements (e.g., lead paragraph)
    and/or within components where appropriate using the --theme-color variable set here
  ------------------------------------------------------------------ */
  [data-background] {
    background-color: var(--background-color);
    --theme-color: contrast-color(var(--background-color));
    color: var(--theme-color);
  }
  [data-color-theme] {
    --theme-color-inverse: contrast-color(var(--theme-color));
  }
  body[data-global-background=primary] {
    background-color: var(--color-primary);
    --theme-color: contrast-color(var(--color-primary));
  }
  [data-background=primary] {
    --background-color: var(--color-primary);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=secondary] {
    background-color: var(--color-secondary);
    --theme-color: contrast-color(var(--color-secondary));
  }
  [data-background=secondary] {
    --background-color: var(--color-secondary);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=accent] {
    background-color: var(--color-accent);
    --theme-color: contrast-color(var(--color-accent));
  }
  [data-background=accent] {
    --background-color: var(--color-accent);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=info] {
    background-color: var(--color-info);
    --theme-color: contrast-color(var(--color-info));
  }
  [data-background=info] {
    --background-color: var(--color-info);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=error] {
    background-color: var(--color-error);
    --theme-color: contrast-color(var(--color-error));
  }
  [data-background=error] {
    --background-color: var(--color-error);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=success] {
    background-color: var(--color-success);
    --theme-color: contrast-color(var(--color-success));
  }
  [data-background=success] {
    --background-color: var(--color-success);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=warning] {
    background-color: var(--color-warning);
    --theme-color: contrast-color(var(--color-warning));
  }
  [data-background=warning] {
    --background-color: var(--color-warning);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=light] {
    background-color: var(--color-light);
    --theme-color: contrast-color(var(--color-light));
  }
  [data-background=light] {
    --background-color: var(--color-light);
    --active-color: var(--color-secondary);
  }
  body[data-global-background=dark] {
    background-color: var(--color-dark);
    --theme-color: contrast-color(var(--color-dark));
  }
  [data-background=dark] {
    --background-color: var(--color-dark);
    --active-color: var(--color-secondary);
  }
  [data-color-theme=primary] {
    --theme-color: var(--color-primary);
  }
  [data-color-theme=secondary] {
    --theme-color: var(--color-secondary);
  }
  [data-color-theme=accent] {
    --theme-color: var(--color-accent);
  }
  [data-color-theme=info] {
    --theme-color: var(--color-info);
  }
  [data-color-theme=error] {
    --theme-color: var(--color-error);
  }
  [data-color-theme=success] {
    --theme-color: var(--color-success);
  }
  [data-color-theme=warning] {
    --theme-color: var(--color-warning);
  }
  [data-color-theme=light] {
    --theme-color: var(--color-light);
  }
  [data-color-theme=dark] {
    --theme-color: var(--color-dark);
  }
  [data-background=primary-secondary] {
    --background-color: var(--gradient-primary-secondary);
  }
  [data-background=primary-accent] {
    --background-color: var(--gradient-primary-accent);
  }
  [data-background=primary-info] {
    --background-color: var(--gradient-primary-info);
  }
  [data-background=primary-error] {
    --background-color: var(--gradient-primary-error);
  }
  [data-background=primary-success] {
    --background-color: var(--gradient-primary-success);
  }
  [data-background=primary-warning] {
    --background-color: var(--gradient-primary-warning);
  }
  [data-background=primary-light] {
    --background-color: var(--gradient-primary-light);
  }
  [data-background=primary-dark] {
    --background-color: var(--gradient-primary-dark);
  }
  [data-background=secondary-primary] {
    --background-color: var(--gradient-secondary-primary);
  }
  [data-background=secondary-accent] {
    --background-color: var(--gradient-secondary-accent);
  }
  [data-background=secondary-info] {
    --background-color: var(--gradient-secondary-info);
  }
  [data-background=secondary-error] {
    --background-color: var(--gradient-secondary-error);
  }
  [data-background=secondary-success] {
    --background-color: var(--gradient-secondary-success);
  }
  [data-background=secondary-warning] {
    --background-color: var(--gradient-secondary-warning);
  }
  [data-background=secondary-light] {
    --background-color: var(--gradient-secondary-light);
  }
  [data-background=secondary-dark] {
    --background-color: var(--gradient-secondary-dark);
  }
  [data-background=accent-primary] {
    --background-color: var(--gradient-accent-primary);
  }
  [data-background=accent-secondary] {
    --background-color: var(--gradient-accent-secondary);
  }
  [data-background=accent-info] {
    --background-color: var(--gradient-accent-info);
  }
  [data-background=accent-error] {
    --background-color: var(--gradient-accent-error);
  }
  [data-background=accent-success] {
    --background-color: var(--gradient-accent-success);
  }
  [data-background=accent-warning] {
    --background-color: var(--gradient-accent-warning);
  }
  [data-background=accent-light] {
    --background-color: var(--gradient-accent-light);
  }
  [data-background=accent-dark] {
    --background-color: var(--gradient-accent-dark);
  }
  [data-background=info-primary] {
    --background-color: var(--gradient-info-primary);
  }
  [data-background=info-secondary] {
    --background-color: var(--gradient-info-secondary);
  }
  [data-background=info-accent] {
    --background-color: var(--gradient-info-accent);
  }
  [data-background=info-error] {
    --background-color: var(--gradient-info-error);
  }
  [data-background=info-success] {
    --background-color: var(--gradient-info-success);
  }
  [data-background=info-warning] {
    --background-color: var(--gradient-info-warning);
  }
  [data-background=info-light] {
    --background-color: var(--gradient-info-light);
  }
  [data-background=info-dark] {
    --background-color: var(--gradient-info-dark);
  }
  [data-background=error-primary] {
    --background-color: var(--gradient-error-primary);
  }
  [data-background=error-secondary] {
    --background-color: var(--gradient-error-secondary);
  }
  [data-background=error-accent] {
    --background-color: var(--gradient-error-accent);
  }
  [data-background=error-info] {
    --background-color: var(--gradient-error-info);
  }
  [data-background=error-success] {
    --background-color: var(--gradient-error-success);
  }
  [data-background=error-warning] {
    --background-color: var(--gradient-error-warning);
  }
  [data-background=error-light] {
    --background-color: var(--gradient-error-light);
  }
  [data-background=error-dark] {
    --background-color: var(--gradient-error-dark);
  }
  [data-background=success-primary] {
    --background-color: var(--gradient-success-primary);
  }
  [data-background=success-secondary] {
    --background-color: var(--gradient-success-secondary);
  }
  [data-background=success-accent] {
    --background-color: var(--gradient-success-accent);
  }
  [data-background=success-info] {
    --background-color: var(--gradient-success-info);
  }
  [data-background=success-error] {
    --background-color: var(--gradient-success-error);
  }
  [data-background=success-warning] {
    --background-color: var(--gradient-success-warning);
  }
  [data-background=success-light] {
    --background-color: var(--gradient-success-light);
  }
  [data-background=success-dark] {
    --background-color: var(--gradient-success-dark);
  }
  [data-background=warning-primary] {
    --background-color: var(--gradient-warning-primary);
  }
  [data-background=warning-secondary] {
    --background-color: var(--gradient-warning-secondary);
  }
  [data-background=warning-accent] {
    --background-color: var(--gradient-warning-accent);
  }
  [data-background=warning-info] {
    --background-color: var(--gradient-warning-info);
  }
  [data-background=warning-error] {
    --background-color: var(--gradient-warning-error);
  }
  [data-background=warning-success] {
    --background-color: var(--gradient-warning-success);
  }
  [data-background=warning-light] {
    --background-color: var(--gradient-warning-light);
  }
  [data-background=warning-dark] {
    --background-color: var(--gradient-warning-dark);
  }
  [data-background=light-primary] {
    --background-color: var(--gradient-light-primary);
  }
  [data-background=light-secondary] {
    --background-color: var(--gradient-light-secondary);
  }
  [data-background=light-accent] {
    --background-color: var(--gradient-light-accent);
  }
  [data-background=light-info] {
    --background-color: var(--gradient-light-info);
  }
  [data-background=light-error] {
    --background-color: var(--gradient-light-error);
  }
  [data-background=light-success] {
    --background-color: var(--gradient-light-success);
  }
  [data-background=light-warning] {
    --background-color: var(--gradient-light-warning);
  }
  [data-background=light-dark] {
    --background-color: var(--gradient-light-dark);
  }
  [data-background=dark-primary] {
    --background-color: var(--gradient-dark-primary);
  }
  [data-background=dark-secondary] {
    --background-color: var(--gradient-dark-secondary);
  }
  [data-background=dark-accent] {
    --background-color: var(--gradient-dark-accent);
  }
  [data-background=dark-info] {
    --background-color: var(--gradient-dark-info);
  }
  [data-background=dark-error] {
    --background-color: var(--gradient-dark-error);
  }
  [data-background=dark-success] {
    --background-color: var(--gradient-dark-success);
  }
  [data-background=dark-warning] {
    --background-color: var(--gradient-dark-warning);
  }
  [data-background=dark-light] {
    --background-color: var(--gradient-dark-light);
  }
}

/*# sourceMappingURL=global.css.map */
